/Temp/
/Library/
/obj/
/AssetBundles/
/Log/
/Logs/
/ScreenShot/
/OfflineData/
/RuntimeData/
/SupportEditorSetting/
/.vs/
/.vscode/
/Packages/packages-lock.json
/.idea/
*.csproj
*.sln
/ProjectSettings/
/UserSettings/
/_[Ll]ayout_/
/_[Bb]ooks_/
/builtin_shaders-2021.3.39f1/
.DS_Store
